@charset "UTF-8";

/*Configurações gerais*/

* {
    padding: 0px;
    margin: 0px;
    font-family: Arial, Helvetica, sans-serif;
}

html, body {
    width: 100vw;
    height: 100vh;
    background-color: #233eff;
    /*background-size: cover;*/ /*Com o cover, a imagem fica atrás de tudo, inclusive do h1*/
    background-size: contain; /*Com o contain, a imgagem fica onde posicionarmos, e o h1 não fica por cima*/
    background-repeat: no-repeat;
}

h1 {
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.315);
    padding: 10px;
}