* {
    margin: 0px;
    padding: 0px;
}

body {
    background-color: lightblue;
}

.container {
    background-color: lightcoral;
    height: 400px;

    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    /* align-content pode ser usado quando também usamos a propriedade wrap */
    align-content: space-evenly;
}
.item {
    background-color: lightsalmon;
    border: .5px solid black;
    text-align: center;
    padding: 40px;
}