* {
    margin: 0px;
    padding: 0px;
}

body {
    background-color: lightblue;
}

.container {
    background-color: lightcoral;
    height: 300px;
    
    display: flex;
    /*flex-direction: row;
    flex-wrap: wrap-reverse;*/
    /*Usando shorthand para simplicar o código usando o flex-flow*/
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
}
.item {
    background-color: lightsalmon;
    border: .5px solid black;
    text-align: center;
    padding: 10px;
}